{% extends 'waterapp/index.html' %}
{% load static %}
{% block title %}
   <title>about</title>
{% endblock %}

{% block content %}
<link href="{% static 'style.css' %}" rel="stylesheet">

<section class="banner">
    <div class="container-fluid">
        <div class="row">
      <img src="{% static 'images/banner-4.jpg' %}" class="banner-image" alt="Banner Image">
    </div>
    </div>
  </section>
  <section class="about-section">
    <div class="container">
        <div class="row">
          <div class="col-md-2"></div>
            <div class="col-md-8">
                <h4>Hey there, what’s up?</h4>
                <p>Now, when you do this without getting punched in the chest, you’ll have more fun. Whoa, this guy’s straight? It’s a hug, Michael. I’m hugging you. Well, what do you expect, mother? I’m afraid I just blue myself</p>
                <p>Guy’s a pro. Get me a vodka rocks. And a piece of toast. I don’t criticize you! And if you’re worried about criticism, sometimes a diet is the best defense. Did you enjoy your meal, Mom? You drank it fast enough.</p>
                <p>It’s called ‘taking advantage.’ It’s what gets you ahead in life. I’ve opened a door here that I regret. Marry me. Guy’s a pro.</p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
</section>
{%endblock%}