{% extends 'waterapp/index.html' %}
{% load static %}


{% block title %}
   <title>contact</title>
{% endblock %}

{% block content %}
<link href="{% static 'style.css' %}" rel="stylesheet">
<h2 class="cont-title-1">Contact</h2>
<h5 class="cont-title">You can contact me almost about anything, would like to hear from you.</h5>
<form method="post">
    {% csrf_token %}
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="message">Message:</label>
    <textarea id="message" name="message" required></textarea>

    <input type="submit" value="Submit">
</form>
{% endblock %}
{% block body %}
{% endblock %}