{% extends 'waterapp/index.html' %}
{% load static %}

{% block title %}
    <title>service</title>
{% endblock %}

{% block content %}
<link href="{% static 'style.css' %}" rel="stylesheet">

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div>
                <h2 class="cont-title-1">Services</h2>
                <h5 class="cont-title">You can contact me almost about anything, would like to hear from you.</h5>
            </div>
           <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'images/img-11.jpg'%}">
              </div>
           </div>
           <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-dark btn-sm">Adventure</button>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Shaving green earth</h6>
                  <p class="card-text">He’ll want to use your yacht, and I don’t want this thing smelling like fish. Steve Holt! No! I was ashamed to be SEEN with you. I like being with you. Marry me. It’s called ‘taking advantage.’ It’s what gets you ahead in life. I’m a monster. Army had half a day. I don’t criticize you! And if you’re worried about criticism, sometimes a diet is the best defense. I’m afraid I just blue myself. </p>
                
                </div>
              </div>
           </div>
           <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'images/img-12.jpg'%}">
                <div class="card-body">
                  <p class="card-text">Hello. I am a freelance writer. I live in a small town somewhere in the world. I write about design and biking.</p>
                </div>
              </div>
            
           </div>
           <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'images/img-13.jpg'%}">
              </div>
           </div>
           <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-dark btn-sm">Adventure</button>
                  <h6 class="card-subtitle mb-2 text-body-secondary">Shiny day out</h6>
                  <p class="card-text">He’ll want to use your yacht, and I don’t want this thing smelling like fish. Steve Holt! No! I was ashamed to be SEEN with you. I like being with you. Marry me. It’s called ‘taking advantage.’ It’s what gets you ahead in life. I’m a monster. Army had half a day. I don’t criticize you! And if you’re worried about criticism, sometimes a diet is the best defense. I’m afraid I just blue myself. </p>
                
                </div>
              </div>
           </div>
           <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'images/img-12.jpg'%}">
                <div class="card-body">
                  <p class="card-text">Hello. I am a freelance writer. I live in a small town somewhere in the world. I write about design and biking.</p>
                </div>
              </div>
            
           </div>
           <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'images/img-14.jpg'%}">
              </div>
           </div>
           <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <button type="button" class="btn btn-outline-dark btn-sm">Adventure</button>
                  <h6 class="card-subtitle mb-2 text-body-secondary">ideas for home style</h6>
                  <p class="card-text">He’ll want to use your yacht, and I don’t want this thing smelling like fish. Steve Holt! No! I was ashamed to be SEEN with you. I like being with you. Marry me. It’s called ‘taking advantage.’ It’s what gets you ahead in life. I’m a monster. Army had half a day. I don’t criticize you! And if you’re worried about criticism, sometimes a diet is the best defense. I’m afraid I just blue myself.  </p>
                
                </div>
              </div>
           </div>
           <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{%static 'images/img-12.jpg'%}">
                <div class="card-body">
                  <p class="card-text">Hello. I am a freelance writer. I live in a small town somewhere in the world. I write about design and biking.</p>
                </div>
              </div>
            
           </div>
           
        </div>
    </div>
</section>

{% endblock %}